body{
	background-color: #e5e5e5;
}

.container-fluid{
	background-color: #e5e5e5;
}

#total{
	text-align: center;
	color: green;
	margin-top: 25%;
}

.btn-default{
	background-color: lightgreen;
}

.tablescroll{
	height:230px;
	border-width:1; 
	overflow-y : scroll;
	overflow-x: hidden;
}