body{
	background-color: #e2e9f1;
}

.container-fluid{
	background-color: #e2e9f1;
}

#total{
	text-align: center;
	color: #3ae071;
	margin-top: 25%;
}

.btn-default{
	background-color: lightgreen;
}

.tablescroll{
	height:230px;
	border-width:1; 
	overflow-y : scroll;
	overflow-x: hidden;
}

.titreCat{
	background-color: #5bc0de;
	border-radius: 10px;
	text-align: center;
	color: #ffffff;
}